.header_admin {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header_admin .search-bar_admin {
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
 .header_admin .user-profile {
    display: flex;
    align-items: center;
  }
 .header_admin .user-profile .profile-pic {
    margin-left: 10px;
    border-radius: 50%;
  }
  .start_top{
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
    position: fixed;
    right:50px;
    bottom: 20px;
  }
  